parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder.*\\:\\:ordered\\(\\)\\.$#"
			count: 1
			path: src/Filament/RedirectResource.php
